//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package armpolicy

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/cloud"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strconv"
	"strings"
)

// DefinitionVersionsClient contains the methods for the PolicyDefinitionVersions group.
// Don't use this type directly, use NewDefinitionVersionsClient() instead.
type DefinitionVersionsClient struct {
	host                    string
	subscriptionID          string
	policyDefinitionName    string
	policyDefinitionVersion string
	pl                      runtime.Pipeline
}

// NewDefinitionVersionsClient creates a new instance of DefinitionVersionsClient with the specified values.
// subscriptionID - The ID of the target subscription. The value must be an UUID.
// policyDefinitionName - The name of the policy definition.
// policyDefinitionVersion - The policy definition version. The format is x.y.z where x is the major version number, y is
// the minor version number, and z is the patch number
// credential - used to authorize requests. Usually a credential from azidentity.
// options - pass nil to accept the default values.
func NewDefinitionVersionsClient(subscriptionID string, policyDefinitionName string, policyDefinitionVersion string, credential azcore.TokenCredential, options *arm.ClientOptions) (*DefinitionVersionsClient, error) {
	if options == nil {
		options = &arm.ClientOptions{}
	}
	ep := cloud.AzurePublic.Services[cloud.ResourceManager].Endpoint
	if c, ok := options.Cloud.Services[cloud.ResourceManager]; ok {
		ep = c.Endpoint
	}
	pl, err := armruntime.NewPipeline(moduleName, moduleVersion, credential, runtime.PipelineOptions{}, options)
	if err != nil {
		return nil, err
	}
	client := &DefinitionVersionsClient{
		subscriptionID:          subscriptionID,
		policyDefinitionName:    policyDefinitionName,
		policyDefinitionVersion: policyDefinitionVersion,
		host:                    ep,
		pl:                      pl,
	}
	return client, nil
}

// CreateOrUpdate - This operation creates or updates a policy definition in the given subscription with the given name.
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2023-04-01
// parameters - The policy definition properties.
// options - DefinitionVersionsClientCreateOrUpdateOptions contains the optional parameters for the DefinitionVersionsClient.CreateOrUpdate
// method.
func (client *DefinitionVersionsClient) CreateOrUpdate(ctx context.Context, parameters DefinitionVersion, options *DefinitionVersionsClientCreateOrUpdateOptions) (DefinitionVersionsClientCreateOrUpdateResponse, error) {
	req, err := client.createOrUpdateCreateRequest(ctx, parameters, options)
	if err != nil {
		return DefinitionVersionsClientCreateOrUpdateResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DefinitionVersionsClientCreateOrUpdateResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusCreated) {
		return DefinitionVersionsClientCreateOrUpdateResponse{}, runtime.NewResponseError(resp)
	}
	return client.createOrUpdateHandleResponse(resp)
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *DefinitionVersionsClient) createOrUpdateCreateRequest(ctx context.Context, parameters DefinitionVersion, options *DefinitionVersionsClientCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/policyDefinitions/{policyDefinitionName}/versions/{policyDefinitionVersion}"
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if client.policyDefinitionName == "" {
		return nil, errors.New("parameter client.policyDefinitionName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{policyDefinitionName}", url.PathEscape(client.policyDefinitionName))
	if client.policyDefinitionVersion == "" {
		return nil, errors.New("parameter client.policyDefinitionVersion cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{policyDefinitionVersion}", url.PathEscape(client.policyDefinitionVersion))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-04-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, parameters)
}

// createOrUpdateHandleResponse handles the CreateOrUpdate response.
func (client *DefinitionVersionsClient) createOrUpdateHandleResponse(resp *http.Response) (DefinitionVersionsClientCreateOrUpdateResponse, error) {
	result := DefinitionVersionsClientCreateOrUpdateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DefinitionVersion); err != nil {
		return DefinitionVersionsClientCreateOrUpdateResponse{}, err
	}
	return result, nil
}

// CreateOrUpdateAtManagementGroup - This operation creates or updates a policy definition version in the given management
// group with the given name.
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2023-04-01
// managementGroupName - The name of the management group. The name is case insensitive.
// parameters - The policy definition properties.
// options - DefinitionVersionsClientCreateOrUpdateAtManagementGroupOptions contains the optional parameters for the DefinitionVersionsClient.CreateOrUpdateAtManagementGroup
// method.
func (client *DefinitionVersionsClient) CreateOrUpdateAtManagementGroup(ctx context.Context, managementGroupName string, parameters DefinitionVersion, options *DefinitionVersionsClientCreateOrUpdateAtManagementGroupOptions) (DefinitionVersionsClientCreateOrUpdateAtManagementGroupResponse, error) {
	req, err := client.createOrUpdateAtManagementGroupCreateRequest(ctx, managementGroupName, parameters, options)
	if err != nil {
		return DefinitionVersionsClientCreateOrUpdateAtManagementGroupResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DefinitionVersionsClientCreateOrUpdateAtManagementGroupResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusCreated) {
		return DefinitionVersionsClientCreateOrUpdateAtManagementGroupResponse{}, runtime.NewResponseError(resp)
	}
	return client.createOrUpdateAtManagementGroupHandleResponse(resp)
}

// createOrUpdateAtManagementGroupCreateRequest creates the CreateOrUpdateAtManagementGroup request.
func (client *DefinitionVersionsClient) createOrUpdateAtManagementGroupCreateRequest(ctx context.Context, managementGroupName string, parameters DefinitionVersion, options *DefinitionVersionsClientCreateOrUpdateAtManagementGroupOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.Management/managementGroups/{managementGroupName}/providers/Microsoft.Authorization/policyDefinitions/{policyDefinitionName}/versions/{policyDefinitionVersion}"
	if managementGroupName == "" {
		return nil, errors.New("parameter managementGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{managementGroupName}", url.PathEscape(managementGroupName))
	if client.policyDefinitionName == "" {
		return nil, errors.New("parameter client.policyDefinitionName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{policyDefinitionName}", url.PathEscape(client.policyDefinitionName))
	if client.policyDefinitionVersion == "" {
		return nil, errors.New("parameter client.policyDefinitionVersion cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{policyDefinitionVersion}", url.PathEscape(client.policyDefinitionVersion))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-04-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, parameters)
}

// createOrUpdateAtManagementGroupHandleResponse handles the CreateOrUpdateAtManagementGroup response.
func (client *DefinitionVersionsClient) createOrUpdateAtManagementGroupHandleResponse(resp *http.Response) (DefinitionVersionsClientCreateOrUpdateAtManagementGroupResponse, error) {
	result := DefinitionVersionsClientCreateOrUpdateAtManagementGroupResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DefinitionVersion); err != nil {
		return DefinitionVersionsClientCreateOrUpdateAtManagementGroupResponse{}, err
	}
	return result, nil
}

// Delete - This operation deletes the policy definition version in the given subscription with the given name.
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2023-04-01
// options - DefinitionVersionsClientDeleteOptions contains the optional parameters for the DefinitionVersionsClient.Delete
// method.
func (client *DefinitionVersionsClient) Delete(ctx context.Context, options *DefinitionVersionsClientDeleteOptions) (DefinitionVersionsClientDeleteResponse, error) {
	req, err := client.deleteCreateRequest(ctx, options)
	if err != nil {
		return DefinitionVersionsClientDeleteResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DefinitionVersionsClientDeleteResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusNoContent) {
		return DefinitionVersionsClientDeleteResponse{}, runtime.NewResponseError(resp)
	}
	return DefinitionVersionsClientDeleteResponse{}, nil
}

// deleteCreateRequest creates the Delete request.
func (client *DefinitionVersionsClient) deleteCreateRequest(ctx context.Context, options *DefinitionVersionsClientDeleteOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/policyDefinitions/{policyDefinitionName}/versions/{policyDefinitionVersion}"
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if client.policyDefinitionName == "" {
		return nil, errors.New("parameter client.policyDefinitionName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{policyDefinitionName}", url.PathEscape(client.policyDefinitionName))
	if client.policyDefinitionVersion == "" {
		return nil, errors.New("parameter client.policyDefinitionVersion cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{policyDefinitionVersion}", url.PathEscape(client.policyDefinitionVersion))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-04-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// DeleteAtManagementGroup - This operation deletes the policy definition in the given management group with the given name.
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2023-04-01
// managementGroupName - The name of the management group. The name is case insensitive.
// options - DefinitionVersionsClientDeleteAtManagementGroupOptions contains the optional parameters for the DefinitionVersionsClient.DeleteAtManagementGroup
// method.
func (client *DefinitionVersionsClient) DeleteAtManagementGroup(ctx context.Context, managementGroupName string, options *DefinitionVersionsClientDeleteAtManagementGroupOptions) (DefinitionVersionsClientDeleteAtManagementGroupResponse, error) {
	req, err := client.deleteAtManagementGroupCreateRequest(ctx, managementGroupName, options)
	if err != nil {
		return DefinitionVersionsClientDeleteAtManagementGroupResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DefinitionVersionsClientDeleteAtManagementGroupResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusNoContent) {
		return DefinitionVersionsClientDeleteAtManagementGroupResponse{}, runtime.NewResponseError(resp)
	}
	return DefinitionVersionsClientDeleteAtManagementGroupResponse{}, nil
}

// deleteAtManagementGroupCreateRequest creates the DeleteAtManagementGroup request.
func (client *DefinitionVersionsClient) deleteAtManagementGroupCreateRequest(ctx context.Context, managementGroupName string, options *DefinitionVersionsClientDeleteAtManagementGroupOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.Management/managementGroups/{managementGroupName}/providers/Microsoft.Authorization/policyDefinitions/{policyDefinitionName}/versions/{policyDefinitionVersion}"
	if managementGroupName == "" {
		return nil, errors.New("parameter managementGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{managementGroupName}", url.PathEscape(managementGroupName))
	if client.policyDefinitionName == "" {
		return nil, errors.New("parameter client.policyDefinitionName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{policyDefinitionName}", url.PathEscape(client.policyDefinitionName))
	if client.policyDefinitionVersion == "" {
		return nil, errors.New("parameter client.policyDefinitionVersion cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{policyDefinitionVersion}", url.PathEscape(client.policyDefinitionVersion))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-04-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// Get - This operation retrieves the policy definition version in the given subscription with the given name.
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2023-04-01
// options - DefinitionVersionsClientGetOptions contains the optional parameters for the DefinitionVersionsClient.Get method.
func (client *DefinitionVersionsClient) Get(ctx context.Context, options *DefinitionVersionsClientGetOptions) (DefinitionVersionsClientGetResponse, error) {
	req, err := client.getCreateRequest(ctx, options)
	if err != nil {
		return DefinitionVersionsClientGetResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DefinitionVersionsClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return DefinitionVersionsClientGetResponse{}, runtime.NewResponseError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *DefinitionVersionsClient) getCreateRequest(ctx context.Context, options *DefinitionVersionsClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/policyDefinitions/{policyDefinitionName}/versions/{policyDefinitionVersion}"
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if client.policyDefinitionName == "" {
		return nil, errors.New("parameter client.policyDefinitionName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{policyDefinitionName}", url.PathEscape(client.policyDefinitionName))
	if client.policyDefinitionVersion == "" {
		return nil, errors.New("parameter client.policyDefinitionVersion cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{policyDefinitionVersion}", url.PathEscape(client.policyDefinitionVersion))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-04-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *DefinitionVersionsClient) getHandleResponse(resp *http.Response) (DefinitionVersionsClientGetResponse, error) {
	result := DefinitionVersionsClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DefinitionVersion); err != nil {
		return DefinitionVersionsClientGetResponse{}, err
	}
	return result, nil
}

// GetAtManagementGroup - This operation retrieves the policy definition version in the given management group with the given
// name.
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2023-04-01
// managementGroupName - The name of the management group. The name is case insensitive.
// options - DefinitionVersionsClientGetAtManagementGroupOptions contains the optional parameters for the DefinitionVersionsClient.GetAtManagementGroup
// method.
func (client *DefinitionVersionsClient) GetAtManagementGroup(ctx context.Context, managementGroupName string, options *DefinitionVersionsClientGetAtManagementGroupOptions) (DefinitionVersionsClientGetAtManagementGroupResponse, error) {
	req, err := client.getAtManagementGroupCreateRequest(ctx, managementGroupName, options)
	if err != nil {
		return DefinitionVersionsClientGetAtManagementGroupResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DefinitionVersionsClientGetAtManagementGroupResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return DefinitionVersionsClientGetAtManagementGroupResponse{}, runtime.NewResponseError(resp)
	}
	return client.getAtManagementGroupHandleResponse(resp)
}

// getAtManagementGroupCreateRequest creates the GetAtManagementGroup request.
func (client *DefinitionVersionsClient) getAtManagementGroupCreateRequest(ctx context.Context, managementGroupName string, options *DefinitionVersionsClientGetAtManagementGroupOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.Management/managementGroups/{managementGroupName}/providers/Microsoft.Authorization/policyDefinitions/{policyDefinitionName}/versions/{policyDefinitionVersion}"
	if managementGroupName == "" {
		return nil, errors.New("parameter managementGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{managementGroupName}", url.PathEscape(managementGroupName))
	if client.policyDefinitionName == "" {
		return nil, errors.New("parameter client.policyDefinitionName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{policyDefinitionName}", url.PathEscape(client.policyDefinitionName))
	if client.policyDefinitionVersion == "" {
		return nil, errors.New("parameter client.policyDefinitionVersion cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{policyDefinitionVersion}", url.PathEscape(client.policyDefinitionVersion))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-04-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getAtManagementGroupHandleResponse handles the GetAtManagementGroup response.
func (client *DefinitionVersionsClient) getAtManagementGroupHandleResponse(resp *http.Response) (DefinitionVersionsClientGetAtManagementGroupResponse, error) {
	result := DefinitionVersionsClientGetAtManagementGroupResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DefinitionVersion); err != nil {
		return DefinitionVersionsClientGetAtManagementGroupResponse{}, err
	}
	return result, nil
}

// GetBuiltIn - This operation retrieves the built-in policy definition version with the given name.
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2023-04-01
// options - DefinitionVersionsClientGetBuiltInOptions contains the optional parameters for the DefinitionVersionsClient.GetBuiltIn
// method.
func (client *DefinitionVersionsClient) GetBuiltIn(ctx context.Context, options *DefinitionVersionsClientGetBuiltInOptions) (DefinitionVersionsClientGetBuiltInResponse, error) {
	req, err := client.getBuiltInCreateRequest(ctx, options)
	if err != nil {
		return DefinitionVersionsClientGetBuiltInResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DefinitionVersionsClientGetBuiltInResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return DefinitionVersionsClientGetBuiltInResponse{}, runtime.NewResponseError(resp)
	}
	return client.getBuiltInHandleResponse(resp)
}

// getBuiltInCreateRequest creates the GetBuiltIn request.
func (client *DefinitionVersionsClient) getBuiltInCreateRequest(ctx context.Context, options *DefinitionVersionsClientGetBuiltInOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.Authorization/policyDefinitions/{policyDefinitionName}/versions/{policyDefinitionVersion}"
	if client.policyDefinitionName == "" {
		return nil, errors.New("parameter client.policyDefinitionName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{policyDefinitionName}", url.PathEscape(client.policyDefinitionName))
	if client.policyDefinitionVersion == "" {
		return nil, errors.New("parameter client.policyDefinitionVersion cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{policyDefinitionVersion}", url.PathEscape(client.policyDefinitionVersion))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-04-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getBuiltInHandleResponse handles the GetBuiltIn response.
func (client *DefinitionVersionsClient) getBuiltInHandleResponse(resp *http.Response) (DefinitionVersionsClientGetBuiltInResponse, error) {
	result := DefinitionVersionsClientGetBuiltInResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DefinitionVersion); err != nil {
		return DefinitionVersionsClientGetBuiltInResponse{}, err
	}
	return result, nil
}

// NewListPager - This operation retrieves a list of all the policy definition versions for the given policy definition.
// Generated from API version 2023-04-01
// options - DefinitionVersionsClientListOptions contains the optional parameters for the DefinitionVersionsClient.List method.
func (client *DefinitionVersionsClient) NewListPager(options *DefinitionVersionsClientListOptions) *runtime.Pager[DefinitionVersionsClientListResponse] {
	return runtime.NewPager(runtime.PagingHandler[DefinitionVersionsClientListResponse]{
		More: func(page DefinitionVersionsClientListResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *DefinitionVersionsClientListResponse) (DefinitionVersionsClientListResponse, error) {
			var req *policy.Request
			var err error
			if page == nil {
				req, err = client.listCreateRequest(ctx, options)
			} else {
				req, err = runtime.NewRequest(ctx, http.MethodGet, *page.NextLink)
			}
			if err != nil {
				return DefinitionVersionsClientListResponse{}, err
			}
			resp, err := client.pl.Do(req)
			if err != nil {
				return DefinitionVersionsClientListResponse{}, err
			}
			if !runtime.HasStatusCode(resp, http.StatusOK) {
				return DefinitionVersionsClientListResponse{}, runtime.NewResponseError(resp)
			}
			return client.listHandleResponse(resp)
		},
	})
}

// listCreateRequest creates the List request.
func (client *DefinitionVersionsClient) listCreateRequest(ctx context.Context, options *DefinitionVersionsClientListOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/policyDefinitions/{policyDefinitionName}/versions"
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if client.policyDefinitionName == "" {
		return nil, errors.New("parameter client.policyDefinitionName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{policyDefinitionName}", url.PathEscape(client.policyDefinitionName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-04-01")
	if options != nil && options.Top != nil {
		reqQP.Set("$top", strconv.FormatInt(int64(*options.Top), 10))
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listHandleResponse handles the List response.
func (client *DefinitionVersionsClient) listHandleResponse(resp *http.Response) (DefinitionVersionsClientListResponse, error) {
	result := DefinitionVersionsClientListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DefinitionVersionListResult); err != nil {
		return DefinitionVersionsClientListResponse{}, err
	}
	return result, nil
}

// ListAll - This operation lists all the policy definition versions for all policy definitions within a subscription.
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2023-04-01
// options - DefinitionVersionsClientListAllOptions contains the optional parameters for the DefinitionVersionsClient.ListAll
// method.
func (client *DefinitionVersionsClient) ListAll(ctx context.Context, options *DefinitionVersionsClientListAllOptions) (DefinitionVersionsClientListAllResponse, error) {
	req, err := client.listAllCreateRequest(ctx, options)
	if err != nil {
		return DefinitionVersionsClientListAllResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DefinitionVersionsClientListAllResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return DefinitionVersionsClientListAllResponse{}, runtime.NewResponseError(resp)
	}
	return client.listAllHandleResponse(resp)
}

// listAllCreateRequest creates the ListAll request.
func (client *DefinitionVersionsClient) listAllCreateRequest(ctx context.Context, options *DefinitionVersionsClientListAllOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/listPolicyDefinitionVersions"
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-04-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listAllHandleResponse handles the ListAll response.
func (client *DefinitionVersionsClient) listAllHandleResponse(resp *http.Response) (DefinitionVersionsClientListAllResponse, error) {
	result := DefinitionVersionsClientListAllResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DefinitionVersionListResult); err != nil {
		return DefinitionVersionsClientListAllResponse{}, err
	}
	return result, nil
}

// ListAllAtManagementGroup - This operation lists all the policy definition versions for all policy definitions at the management
// group scope.
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2023-04-01
// managementGroupName - The name of the management group. The name is case insensitive.
// options - DefinitionVersionsClientListAllAtManagementGroupOptions contains the optional parameters for the DefinitionVersionsClient.ListAllAtManagementGroup
// method.
func (client *DefinitionVersionsClient) ListAllAtManagementGroup(ctx context.Context, managementGroupName string, options *DefinitionVersionsClientListAllAtManagementGroupOptions) (DefinitionVersionsClientListAllAtManagementGroupResponse, error) {
	req, err := client.listAllAtManagementGroupCreateRequest(ctx, managementGroupName, options)
	if err != nil {
		return DefinitionVersionsClientListAllAtManagementGroupResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DefinitionVersionsClientListAllAtManagementGroupResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return DefinitionVersionsClientListAllAtManagementGroupResponse{}, runtime.NewResponseError(resp)
	}
	return client.listAllAtManagementGroupHandleResponse(resp)
}

// listAllAtManagementGroupCreateRequest creates the ListAllAtManagementGroup request.
func (client *DefinitionVersionsClient) listAllAtManagementGroupCreateRequest(ctx context.Context, managementGroupName string, options *DefinitionVersionsClientListAllAtManagementGroupOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.Management/managementGroups/{managementGroupName}/providers/Microsoft.Authorization/listPolicyDefinitionVersions"
	if managementGroupName == "" {
		return nil, errors.New("parameter managementGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{managementGroupName}", url.PathEscape(managementGroupName))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-04-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listAllAtManagementGroupHandleResponse handles the ListAllAtManagementGroup response.
func (client *DefinitionVersionsClient) listAllAtManagementGroupHandleResponse(resp *http.Response) (DefinitionVersionsClientListAllAtManagementGroupResponse, error) {
	result := DefinitionVersionsClientListAllAtManagementGroupResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DefinitionVersionListResult); err != nil {
		return DefinitionVersionsClientListAllAtManagementGroupResponse{}, err
	}
	return result, nil
}

// ListAllBuiltins - This operation lists all the built-in policy definition versions for all built-in policy definitions.
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2023-04-01
// options - DefinitionVersionsClientListAllBuiltinsOptions contains the optional parameters for the DefinitionVersionsClient.ListAllBuiltins
// method.
func (client *DefinitionVersionsClient) ListAllBuiltins(ctx context.Context, options *DefinitionVersionsClientListAllBuiltinsOptions) (DefinitionVersionsClientListAllBuiltinsResponse, error) {
	req, err := client.listAllBuiltinsCreateRequest(ctx, options)
	if err != nil {
		return DefinitionVersionsClientListAllBuiltinsResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DefinitionVersionsClientListAllBuiltinsResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return DefinitionVersionsClientListAllBuiltinsResponse{}, runtime.NewResponseError(resp)
	}
	return client.listAllBuiltinsHandleResponse(resp)
}

// listAllBuiltinsCreateRequest creates the ListAllBuiltins request.
func (client *DefinitionVersionsClient) listAllBuiltinsCreateRequest(ctx context.Context, options *DefinitionVersionsClientListAllBuiltinsOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.Authorization/listPolicyDefinitionVersions"
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-04-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listAllBuiltinsHandleResponse handles the ListAllBuiltins response.
func (client *DefinitionVersionsClient) listAllBuiltinsHandleResponse(resp *http.Response) (DefinitionVersionsClientListAllBuiltinsResponse, error) {
	result := DefinitionVersionsClientListAllBuiltinsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DefinitionVersionListResult); err != nil {
		return DefinitionVersionsClientListAllBuiltinsResponse{}, err
	}
	return result, nil
}

// NewListBuiltInPager - This operation retrieves a list of all the built-in policy definition versions for the given policy
// definition.
// Generated from API version 2023-04-01
// options - DefinitionVersionsClientListBuiltInOptions contains the optional parameters for the DefinitionVersionsClient.ListBuiltIn
// method.
func (client *DefinitionVersionsClient) NewListBuiltInPager(options *DefinitionVersionsClientListBuiltInOptions) *runtime.Pager[DefinitionVersionsClientListBuiltInResponse] {
	return runtime.NewPager(runtime.PagingHandler[DefinitionVersionsClientListBuiltInResponse]{
		More: func(page DefinitionVersionsClientListBuiltInResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *DefinitionVersionsClientListBuiltInResponse) (DefinitionVersionsClientListBuiltInResponse, error) {
			var req *policy.Request
			var err error
			if page == nil {
				req, err = client.listBuiltInCreateRequest(ctx, options)
			} else {
				req, err = runtime.NewRequest(ctx, http.MethodGet, *page.NextLink)
			}
			if err != nil {
				return DefinitionVersionsClientListBuiltInResponse{}, err
			}
			resp, err := client.pl.Do(req)
			if err != nil {
				return DefinitionVersionsClientListBuiltInResponse{}, err
			}
			if !runtime.HasStatusCode(resp, http.StatusOK) {
				return DefinitionVersionsClientListBuiltInResponse{}, runtime.NewResponseError(resp)
			}
			return client.listBuiltInHandleResponse(resp)
		},
	})
}

// listBuiltInCreateRequest creates the ListBuiltIn request.
func (client *DefinitionVersionsClient) listBuiltInCreateRequest(ctx context.Context, options *DefinitionVersionsClientListBuiltInOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.Authorization/policyDefinitions/{policyDefinitionName}/versions"
	if client.policyDefinitionName == "" {
		return nil, errors.New("parameter client.policyDefinitionName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{policyDefinitionName}", url.PathEscape(client.policyDefinitionName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-04-01")
	if options != nil && options.Top != nil {
		reqQP.Set("$top", strconv.FormatInt(int64(*options.Top), 10))
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listBuiltInHandleResponse handles the ListBuiltIn response.
func (client *DefinitionVersionsClient) listBuiltInHandleResponse(resp *http.Response) (DefinitionVersionsClientListBuiltInResponse, error) {
	result := DefinitionVersionsClientListBuiltInResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DefinitionVersionListResult); err != nil {
		return DefinitionVersionsClientListBuiltInResponse{}, err
	}
	return result, nil
}

// NewListByManagementGroupPager - This operation retrieves a list of all the policy definition versions for the given policy
// definition in the given management group.
// Generated from API version 2023-04-01
// managementGroupName - The name of the management group. The name is case insensitive.
// options - DefinitionVersionsClientListByManagementGroupOptions contains the optional parameters for the DefinitionVersionsClient.ListByManagementGroup
// method.
func (client *DefinitionVersionsClient) NewListByManagementGroupPager(managementGroupName string, options *DefinitionVersionsClientListByManagementGroupOptions) *runtime.Pager[DefinitionVersionsClientListByManagementGroupResponse] {
	return runtime.NewPager(runtime.PagingHandler[DefinitionVersionsClientListByManagementGroupResponse]{
		More: func(page DefinitionVersionsClientListByManagementGroupResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *DefinitionVersionsClientListByManagementGroupResponse) (DefinitionVersionsClientListByManagementGroupResponse, error) {
			var req *policy.Request
			var err error
			if page == nil {
				req, err = client.listByManagementGroupCreateRequest(ctx, managementGroupName, options)
			} else {
				req, err = runtime.NewRequest(ctx, http.MethodGet, *page.NextLink)
			}
			if err != nil {
				return DefinitionVersionsClientListByManagementGroupResponse{}, err
			}
			resp, err := client.pl.Do(req)
			if err != nil {
				return DefinitionVersionsClientListByManagementGroupResponse{}, err
			}
			if !runtime.HasStatusCode(resp, http.StatusOK) {
				return DefinitionVersionsClientListByManagementGroupResponse{}, runtime.NewResponseError(resp)
			}
			return client.listByManagementGroupHandleResponse(resp)
		},
	})
}

// listByManagementGroupCreateRequest creates the ListByManagementGroup request.
func (client *DefinitionVersionsClient) listByManagementGroupCreateRequest(ctx context.Context, managementGroupName string, options *DefinitionVersionsClientListByManagementGroupOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.Management/managementGroups/{managementGroupName}/providers/Microsoft.Authorization/policyDefinitions/{policyDefinitionName}/versions"
	if managementGroupName == "" {
		return nil, errors.New("parameter managementGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{managementGroupName}", url.PathEscape(managementGroupName))
	if client.policyDefinitionName == "" {
		return nil, errors.New("parameter client.policyDefinitionName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{policyDefinitionName}", url.PathEscape(client.policyDefinitionName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-04-01")
	if options != nil && options.Top != nil {
		reqQP.Set("$top", strconv.FormatInt(int64(*options.Top), 10))
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listByManagementGroupHandleResponse handles the ListByManagementGroup response.
func (client *DefinitionVersionsClient) listByManagementGroupHandleResponse(resp *http.Response) (DefinitionVersionsClientListByManagementGroupResponse, error) {
	result := DefinitionVersionsClientListByManagementGroupResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DefinitionVersionListResult); err != nil {
		return DefinitionVersionsClientListByManagementGroupResponse{}, err
	}
	return result, nil
}
