//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armsingularity

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// GroupPolicyClient contains the methods for the GroupPolicy group.
// Don't use this type directly, use NewGroupPolicyClient() instead.
type GroupPolicyClient struct {
	host           string
	subscriptionID string
	pl             runtime.Pipeline
}

// NewGroupPolicyClient creates a new instance of GroupPolicyClient with the specified values.
// subscriptionID - The customer subscription identifier.
// credential - used to authorize requests. Usually a credential from azidentity.
// options - pass nil to accept the default values.
func NewGroupPolicyClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) *GroupPolicyClient {
	cp := arm.ClientOptions{}
	if options != nil {
		cp = *options
	}
	if len(cp.Endpoint) == 0 {
		cp.Endpoint = arm.AzurePublicCloud
	}
	client := &GroupPolicyClient{
		subscriptionID: subscriptionID,
		host:           string(cp.Endpoint),
		pl:             armruntime.NewPipeline(moduleName, moduleVersion, credential, runtime.PipelineOptions{}, &cp),
	}
	return client
}

// BeginCreateOrUpdate - Creates a group policy resource with the specified name, description and properties. If a resource
// with the same name exists, then it is updated with the specified description and properties.
// If the operation fails it returns an *azcore.ResponseError type.
// resourceGroupName - The name of the resource group within the user's subscription.
// accountName - The name of the Singularity account.
// policyName - The name of the Singularity account quota policy. Should only be Default.
// body - Singularity group policy quota limit information.
// options - GroupPolicyClientBeginCreateOrUpdateOptions contains the optional parameters for the GroupPolicyClient.BeginCreateOrUpdate
// method.
func (client *GroupPolicyClient) BeginCreateOrUpdate(ctx context.Context, resourceGroupName string, accountName string, policyName string, body GroupPolicyResourceDescription, options *GroupPolicyClientBeginCreateOrUpdateOptions) (GroupPolicyClientCreateOrUpdatePollerResponse, error) {
	resp, err := client.createOrUpdate(ctx, resourceGroupName, accountName, policyName, body, options)
	if err != nil {
		return GroupPolicyClientCreateOrUpdatePollerResponse{}, err
	}
	result := GroupPolicyClientCreateOrUpdatePollerResponse{
		RawResponse: resp,
	}
	pt, err := armruntime.NewPoller("GroupPolicyClient.CreateOrUpdate", "", resp, client.pl)
	if err != nil {
		return GroupPolicyClientCreateOrUpdatePollerResponse{}, err
	}
	result.Poller = &GroupPolicyClientCreateOrUpdatePoller{
		pt: pt,
	}
	return result, nil
}

// CreateOrUpdate - Creates a group policy resource with the specified name, description and properties. If a resource with
// the same name exists, then it is updated with the specified description and properties.
// If the operation fails it returns an *azcore.ResponseError type.
func (client *GroupPolicyClient) createOrUpdate(ctx context.Context, resourceGroupName string, accountName string, policyName string, body GroupPolicyResourceDescription, options *GroupPolicyClientBeginCreateOrUpdateOptions) (*http.Response, error) {
	req, err := client.createOrUpdateCreateRequest(ctx, resourceGroupName, accountName, policyName, body, options)
	if err != nil {
		return nil, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusCreated, http.StatusAccepted) {
		return nil, runtime.NewResponseError(resp)
	}
	return resp, nil
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *GroupPolicyClient) createOrUpdateCreateRequest(ctx context.Context, resourceGroupName string, accountName string, policyName string, body GroupPolicyResourceDescription, options *GroupPolicyClientBeginCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Singularity/accounts/{accountName}/groupPolicies/{policyName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", resourceGroupName)
	urlPath = strings.ReplaceAll(urlPath, "{accountName}", accountName)
	urlPath = strings.ReplaceAll(urlPath, "{policyName}", policyName)
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2020-12-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, runtime.MarshalAsJSON(req, body)
}

// BeginDelete - Deletes a group policy resource with the specified name.
// If the operation fails it returns an *azcore.ResponseError type.
// resourceGroupName - The name of the resource group within the user's subscription.
// accountName - The name of the Singularity account.
// policyName - The name of the Singularity account quota policy. Should only be Default.
// options - GroupPolicyClientBeginDeleteOptions contains the optional parameters for the GroupPolicyClient.BeginDelete method.
func (client *GroupPolicyClient) BeginDelete(ctx context.Context, resourceGroupName string, accountName string, policyName string, options *GroupPolicyClientBeginDeleteOptions) (GroupPolicyClientDeletePollerResponse, error) {
	resp, err := client.deleteOperation(ctx, resourceGroupName, accountName, policyName, options)
	if err != nil {
		return GroupPolicyClientDeletePollerResponse{}, err
	}
	result := GroupPolicyClientDeletePollerResponse{
		RawResponse: resp,
	}
	pt, err := armruntime.NewPoller("GroupPolicyClient.Delete", "", resp, client.pl)
	if err != nil {
		return GroupPolicyClientDeletePollerResponse{}, err
	}
	result.Poller = &GroupPolicyClientDeletePoller{
		pt: pt,
	}
	return result, nil
}

// Delete - Deletes a group policy resource with the specified name.
// If the operation fails it returns an *azcore.ResponseError type.
func (client *GroupPolicyClient) deleteOperation(ctx context.Context, resourceGroupName string, accountName string, policyName string, options *GroupPolicyClientBeginDeleteOptions) (*http.Response, error) {
	req, err := client.deleteCreateRequest(ctx, resourceGroupName, accountName, policyName, options)
	if err != nil {
		return nil, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusAccepted, http.StatusNoContent) {
		return nil, runtime.NewResponseError(resp)
	}
	return resp, nil
}

// deleteCreateRequest creates the Delete request.
func (client *GroupPolicyClient) deleteCreateRequest(ctx context.Context, resourceGroupName string, accountName string, policyName string, options *GroupPolicyClientBeginDeleteOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Singularity/accounts/{accountName}/groupPolicies/{policyName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", resourceGroupName)
	urlPath = strings.ReplaceAll(urlPath, "{accountName}", accountName)
	urlPath = strings.ReplaceAll(urlPath, "{policyName}", policyName)
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2020-12-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// Get - Get a group policy resource with the specified name. The information include the description and other properties
// of the resource.
// If the operation fails it returns an *azcore.ResponseError type.
// resourceGroupName - The name of the resource group within the user's subscription.
// accountName - The name of the Singularity account.
// policyName - The name of the Singularity account quota policy. Should only be Default.
// options - GroupPolicyClientGetOptions contains the optional parameters for the GroupPolicyClient.Get method.
func (client *GroupPolicyClient) Get(ctx context.Context, resourceGroupName string, accountName string, policyName string, options *GroupPolicyClientGetOptions) (GroupPolicyClientGetResponse, error) {
	req, err := client.getCreateRequest(ctx, resourceGroupName, accountName, policyName, options)
	if err != nil {
		return GroupPolicyClientGetResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return GroupPolicyClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return GroupPolicyClientGetResponse{}, runtime.NewResponseError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *GroupPolicyClient) getCreateRequest(ctx context.Context, resourceGroupName string, accountName string, policyName string, options *GroupPolicyClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Singularity/accounts/{accountName}/groupPolicies/{policyName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", resourceGroupName)
	urlPath = strings.ReplaceAll(urlPath, "{accountName}", accountName)
	urlPath = strings.ReplaceAll(urlPath, "{policyName}", policyName)
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2020-12-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *GroupPolicyClient) getHandleResponse(resp *http.Response) (GroupPolicyClientGetResponse, error) {
	result := GroupPolicyClientGetResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.GroupPolicyResourceDescription); err != nil {
		return GroupPolicyClientGetResponse{}, err
	}
	return result, nil
}

// ListByAccount - Get all group policy resources in an account. The information include the description and other properties
// of the resource.
// If the operation fails it returns an *azcore.ResponseError type.
// resourceGroupName - The name of the resource group within the user's subscription.
// accountName - The name of the Singularity account.
// options - GroupPolicyClientListByAccountOptions contains the optional parameters for the GroupPolicyClient.ListByAccount
// method.
func (client *GroupPolicyClient) ListByAccount(resourceGroupName string, accountName string, options *GroupPolicyClientListByAccountOptions) *GroupPolicyClientListByAccountPager {
	return &GroupPolicyClientListByAccountPager{
		client: client,
		requester: func(ctx context.Context) (*policy.Request, error) {
			return client.listByAccountCreateRequest(ctx, resourceGroupName, accountName, options)
		},
		advancer: func(ctx context.Context, resp GroupPolicyClientListByAccountResponse) (*policy.Request, error) {
			return runtime.NewRequest(ctx, http.MethodGet, *resp.GroupPolicyResourceDescriptionList.NextLink)
		},
	}
}

// listByAccountCreateRequest creates the ListByAccount request.
func (client *GroupPolicyClient) listByAccountCreateRequest(ctx context.Context, resourceGroupName string, accountName string, options *GroupPolicyClientListByAccountOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Singularity/accounts/{accountName}/groupPolicies"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", resourceGroupName)
	urlPath = strings.ReplaceAll(urlPath, "{accountName}", accountName)
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2020-12-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	unencodedParams := []string{req.Raw().URL.RawQuery}
	if options != nil && options.ContinuationToken != nil {
		unencodedParams = append(unencodedParams, "continuationToken="+*options.ContinuationToken)
	}
	req.Raw().URL.RawQuery = strings.Join(unencodedParams, "&")
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// listByAccountHandleResponse handles the ListByAccount response.
func (client *GroupPolicyClient) listByAccountHandleResponse(resp *http.Response) (GroupPolicyClientListByAccountResponse, error) {
	result := GroupPolicyClientListByAccountResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.GroupPolicyResourceDescriptionList); err != nil {
		return GroupPolicyClientListByAccountResponse{}, err
	}
	return result, nil
}

// BeginUpdate - If a resource with the same name exists, then it is updated with the specified description and properties.
// If the operation fails it returns an *azcore.ResponseError type.
// resourceGroupName - The name of the resource group within the user's subscription.
// accountName - The name of the Singularity account.
// policyName - The name of the Singularity account quota policy. Should only be Default.
// body - Singularity group policy quota limit information.
// options - GroupPolicyClientBeginUpdateOptions contains the optional parameters for the GroupPolicyClient.BeginUpdate method.
func (client *GroupPolicyClient) BeginUpdate(ctx context.Context, resourceGroupName string, accountName string, policyName string, body GroupPolicyResourcePatchDescription, options *GroupPolicyClientBeginUpdateOptions) (GroupPolicyClientUpdatePollerResponse, error) {
	resp, err := client.update(ctx, resourceGroupName, accountName, policyName, body, options)
	if err != nil {
		return GroupPolicyClientUpdatePollerResponse{}, err
	}
	result := GroupPolicyClientUpdatePollerResponse{
		RawResponse: resp,
	}
	pt, err := armruntime.NewPoller("GroupPolicyClient.Update", "", resp, client.pl)
	if err != nil {
		return GroupPolicyClientUpdatePollerResponse{}, err
	}
	result.Poller = &GroupPolicyClientUpdatePoller{
		pt: pt,
	}
	return result, nil
}

// Update - If a resource with the same name exists, then it is updated with the specified description and properties.
// If the operation fails it returns an *azcore.ResponseError type.
func (client *GroupPolicyClient) update(ctx context.Context, resourceGroupName string, accountName string, policyName string, body GroupPolicyResourcePatchDescription, options *GroupPolicyClientBeginUpdateOptions) (*http.Response, error) {
	req, err := client.updateCreateRequest(ctx, resourceGroupName, accountName, policyName, body, options)
	if err != nil {
		return nil, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusCreated, http.StatusAccepted) {
		return nil, runtime.NewResponseError(resp)
	}
	return resp, nil
}

// updateCreateRequest creates the Update request.
func (client *GroupPolicyClient) updateCreateRequest(ctx context.Context, resourceGroupName string, accountName string, policyName string, body GroupPolicyResourcePatchDescription, options *GroupPolicyClientBeginUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Singularity/accounts/{accountName}/groupPolicies/{policyName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", resourceGroupName)
	urlPath = strings.ReplaceAll(urlPath, "{accountName}", accountName)
	urlPath = strings.ReplaceAll(urlPath, "{policyName}", policyName)
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2020-12-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, runtime.MarshalAsJSON(req, body)
}
