//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armsingularity

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// SubscriptionQuotaClient contains the methods for the SubscriptionQuota group.
// Don't use this type directly, use NewSubscriptionQuotaClient() instead.
type SubscriptionQuotaClient struct {
	host           string
	subscriptionID string
	pl             runtime.Pipeline
}

// NewSubscriptionQuotaClient creates a new instance of SubscriptionQuotaClient with the specified values.
// subscriptionID - The customer subscription identifier.
// credential - used to authorize requests. Usually a credential from azidentity.
// options - pass nil to accept the default values.
func NewSubscriptionQuotaClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) *SubscriptionQuotaClient {
	cp := arm.ClientOptions{}
	if options != nil {
		cp = *options
	}
	if len(cp.Endpoint) == 0 {
		cp.Endpoint = arm.AzurePublicCloud
	}
	client := &SubscriptionQuotaClient{
		subscriptionID: subscriptionID,
		host:           string(cp.Endpoint),
		pl:             armruntime.NewPipeline(moduleName, moduleVersion, credential, runtime.PipelineOptions{}, &cp),
	}
	return client
}

// Get - Gets the information about the subscriptions quota resource with the given subscriptionId. The information includes
// subscription level quota allocation and usage for each InstanceTypeSeries and SLA
// tier.
// If the operation fails it returns an *azcore.ResponseError type.
// options - SubscriptionQuotaClientGetOptions contains the optional parameters for the SubscriptionQuotaClient.Get method.
func (client *SubscriptionQuotaClient) Get(ctx context.Context, options *SubscriptionQuotaClientGetOptions) (SubscriptionQuotaClientGetResponse, error) {
	req, err := client.getCreateRequest(ctx, options)
	if err != nil {
		return SubscriptionQuotaClientGetResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return SubscriptionQuotaClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return SubscriptionQuotaClientGetResponse{}, runtime.NewResponseError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *SubscriptionQuotaClient) getCreateRequest(ctx context.Context, options *SubscriptionQuotaClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Singularity/quotas"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2020-12-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	unencodedParams := []string{req.Raw().URL.RawQuery}
	if options != nil && options.OwnerSubscriptionID != nil {
		unencodedParams = append(unencodedParams, "ownerSubscriptionId="+*options.OwnerSubscriptionID)
	}
	req.Raw().URL.RawQuery = strings.Join(unencodedParams, "&")
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *SubscriptionQuotaClient) getHandleResponse(resp *http.Response) (SubscriptionQuotaClientGetResponse, error) {
	result := SubscriptionQuotaClientGetResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.InstanceTypeSeriesQuotaList); err != nil {
		return SubscriptionQuotaClientGetResponse{}, err
	}
	return result, nil
}
