//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package armagrifood

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/cloud"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strconv"
	"strings"
)

// DataManagerForAgricultureExtensionsClient contains the methods for the DataManagerForAgricultureExtensions group.
// Don't use this type directly, use NewDataManagerForAgricultureExtensionsClient() instead.
type DataManagerForAgricultureExtensionsClient struct {
	host string
	pl   runtime.Pipeline
}

// NewDataManagerForAgricultureExtensionsClient creates a new instance of DataManagerForAgricultureExtensionsClient with the specified values.
// credential - used to authorize requests. Usually a credential from azidentity.
// options - pass nil to accept the default values.
func NewDataManagerForAgricultureExtensionsClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*DataManagerForAgricultureExtensionsClient, error) {
	if options == nil {
		options = &arm.ClientOptions{}
	}
	ep := cloud.AzurePublic.Services[cloud.ResourceManager].Endpoint
	if c, ok := options.Cloud.Services[cloud.ResourceManager]; ok {
		ep = c.Endpoint
	}
	pl, err := armruntime.NewPipeline(moduleName, moduleVersion, credential, runtime.PipelineOptions{}, options)
	if err != nil {
		return nil, err
	}
	client := &DataManagerForAgricultureExtensionsClient{
		host: ep,
		pl:   pl,
	}
	return client, nil
}

// Get - Get Data Manager For Agriculture extension.
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2023-06-01-preview
// dataManagerForAgricultureExtensionID - dataManagerForAgricultureExtensionId to be queried.
// options - DataManagerForAgricultureExtensionsClientGetOptions contains the optional parameters for the DataManagerForAgricultureExtensionsClient.Get
// method.
func (client *DataManagerForAgricultureExtensionsClient) Get(ctx context.Context, dataManagerForAgricultureExtensionID string, options *DataManagerForAgricultureExtensionsClientGetOptions) (DataManagerForAgricultureExtensionsClientGetResponse, error) {
	req, err := client.getCreateRequest(ctx, dataManagerForAgricultureExtensionID, options)
	if err != nil {
		return DataManagerForAgricultureExtensionsClientGetResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DataManagerForAgricultureExtensionsClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return DataManagerForAgricultureExtensionsClientGetResponse{}, runtime.NewResponseError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *DataManagerForAgricultureExtensionsClient) getCreateRequest(ctx context.Context, dataManagerForAgricultureExtensionID string, options *DataManagerForAgricultureExtensionsClientGetOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.AgFoodPlatform/farmBeatsExtensionDefinitions/{dataManagerForAgricultureExtensionId}"
	if dataManagerForAgricultureExtensionID == "" {
		return nil, errors.New("parameter dataManagerForAgricultureExtensionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{dataManagerForAgricultureExtensionId}", url.PathEscape(dataManagerForAgricultureExtensionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-06-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *DataManagerForAgricultureExtensionsClient) getHandleResponse(resp *http.Response) (DataManagerForAgricultureExtensionsClientGetResponse, error) {
	result := DataManagerForAgricultureExtensionsClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DataManagerForAgricultureExtension); err != nil {
		return DataManagerForAgricultureExtensionsClientGetResponse{}, err
	}
	return result, nil
}

// NewListPager - Get list of Data Manager For Agriculture extension.
// Generated from API version 2023-06-01-preview
// options - DataManagerForAgricultureExtensionsClientListOptions contains the optional parameters for the DataManagerForAgricultureExtensionsClient.List
// method.
func (client *DataManagerForAgricultureExtensionsClient) NewListPager(options *DataManagerForAgricultureExtensionsClientListOptions) *runtime.Pager[DataManagerForAgricultureExtensionsClientListResponse] {
	return runtime.NewPager(runtime.PagingHandler[DataManagerForAgricultureExtensionsClientListResponse]{
		More: func(page DataManagerForAgricultureExtensionsClientListResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *DataManagerForAgricultureExtensionsClientListResponse) (DataManagerForAgricultureExtensionsClientListResponse, error) {
			var req *policy.Request
			var err error
			if page == nil {
				req, err = client.listCreateRequest(ctx, options)
			} else {
				req, err = runtime.NewRequest(ctx, http.MethodGet, *page.NextLink)
			}
			if err != nil {
				return DataManagerForAgricultureExtensionsClientListResponse{}, err
			}
			resp, err := client.pl.Do(req)
			if err != nil {
				return DataManagerForAgricultureExtensionsClientListResponse{}, err
			}
			if !runtime.HasStatusCode(resp, http.StatusOK) {
				return DataManagerForAgricultureExtensionsClientListResponse{}, runtime.NewResponseError(resp)
			}
			return client.listHandleResponse(resp)
		},
	})
}

// listCreateRequest creates the List request.
func (client *DataManagerForAgricultureExtensionsClient) listCreateRequest(ctx context.Context, options *DataManagerForAgricultureExtensionsClientListOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.AgFoodPlatform/farmBeatsExtensionDefinitions"
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.FarmBeatsExtensionIDs != nil {
		for _, qv := range options.FarmBeatsExtensionIDs {
			reqQP.Add("farmBeatsExtensionIds", qv)
		}
	}
	if options != nil && options.FarmBeatsExtensionNames != nil {
		for _, qv := range options.FarmBeatsExtensionNames {
			reqQP.Add("farmBeatsExtensionNames", qv)
		}
	}
	if options != nil && options.ExtensionCategories != nil {
		for _, qv := range options.ExtensionCategories {
			reqQP.Add("extensionCategories", qv)
		}
	}
	if options != nil && options.PublisherIDs != nil {
		for _, qv := range options.PublisherIDs {
			reqQP.Add("publisherIds", qv)
		}
	}
	if options != nil && options.MaxPageSize != nil {
		reqQP.Set("$maxPageSize", strconv.FormatInt(int64(*options.MaxPageSize), 10))
	}
	reqQP.Set("api-version", "2023-06-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listHandleResponse handles the List response.
func (client *DataManagerForAgricultureExtensionsClient) listHandleResponse(resp *http.Response) (DataManagerForAgricultureExtensionsClientListResponse, error) {
	result := DataManagerForAgricultureExtensionsClientListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DataManagerForAgricultureExtensionListResponse); err != nil {
		return DataManagerForAgricultureExtensionsClientListResponse{}, err
	}
	return result, nil
}
